<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48769266695-re3vchb52c3pmutei3fd0fbckm9n7nu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48769266695-re3vchb52c3pmutei3fd0fbckm9n7nu1</string>
	<key>API_KEY</key>
	<string>AIzaSyBWpiEk8qVAzv6Nc6b_LWVOQNKyJgHuG4M</string>
	<key>GCM_SENDER_ID</key>
	<string>48769266695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.coronajump.app</string>
	<key>PROJECT_ID</key>
	<string>coronajump-6668e</string>
	<key>STORAGE_BUCKET</key>
	<string>coronajump-6668e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48769266695:ios:b32de6ec021eb74c76a6a2</string>
	<key>DATABASE_URL</key>
	<string>https://coronajump-6668e.firebaseio.com</string>
</dict>
</plist>